section {
    margin: 0px;
}

.conteinar-menu-barra-lateral {
    display: flex;
}

.barra-lateral {
    width: 80px;
    height: 185px;
    background-color: green;
    margin: 0px;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.logo {
    border-top: white 1px solid;
    padding: 10px 0px 10px 15px;
    display: flex;
    align-items: center;
    transition: all 300ms ease-in-out;
}

.logoImg {
    width: 40px;
    height: 40px;
    transition: all 300ms ease-in-out;
}

.lista {
    border-top: white 1px solid;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.menu {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-family: sans-serif;
    list-style-type: none;
    transition: all 300ms ease-in-out;
}

.link-lista {
    font-size: 13px;
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.menu-exibir {
    background-color: darkgreen;
    width: 150px;
    height: 185px;
    right: -10px;
}
.link-lista::after {
    content: '';
    position: absolute;
    left: 64px;
    width: 0;
    height: 22px;
    background: rgba(152, 214, 152, 0.237);
    transition: all 300ms ease-in-out;
}

.link-lista:hover::after {
    width: 150px;
}

.slide-leave-active {
    transition: all 1s;
}

.slide-leave-from {
    transform: translateX(0px);
}

.slide-leave-to {
    transform: translateX(-150px);
}

@media print {
    .barra-lateral {
        display: none;
        width: 0px;
        height: 0px;
    }
    .conteinar-menu-barra-lateral{
        display: none;
    }
}