section {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px;
}

.img {
    margin-top: 40px;
    margin-left: 100%;
    width: 300px;
    height: 300px;
}

.esqueceu {
    border: none;
    display: flex;
    margin: 40px 0px 0px 40%;
    width: 300px;
    height: 260px;
    box-shadow: 0 0 0.5em black;
    border-radius: 5px;
    background-color: white;
    padding-top: 20px;
}
.margin{
margin-top: 30px;
}

.form-control {
    margin: 5px 25px 10px 25px;
    width: 250px;
    height: 40px;
    white-space: nowrap;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
}

.form-control:focus {
    border-bottom: 5px solid green;
    transition: all 300ms ease-in-out;
}

.buttonLogin {
    font-family: sans-serif;
    display: block;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0px 25px 10px 25px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.buttonLogin:hover {
    background-color: rgb(0, 170, 0);
    transition: all 300ms ease-in-out;
}

.traco {
    width: 250px;
    margin: 0px 25px 10px 25px;
    border: 1px solid;
    opacity: 0.3;
}

@media(min-width:300px) and (max-width:699px) {
    section {
        display: block;
    }
    .img {
        margin: 20% 0px 60% 25%;
        width: 150px;
        height: 150px;
    }
    .esqueceu {
        margin: 0px 0px 0px 25%;
        width: 170px;
        height: 150px;
    }
    .form-control {
        margin: 0px 15px 10px 15px;
        width: 140px;
        height: 20px;
    }
    .cadastro {
        margin: 65% 0px 0px 25%;
        width: 170px;
        height: 200px;
    }
    .close {
        margin-left: 140px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .buttonLogin {
        margin: 0px 15px 10px 15px;
        width: 140px;
        height: 20px;
    }
    .buttonCadastro {
        margin: 0px 15px 10px 15px;
        width: 140px;
        height: 20px;
    }
    .traco {
        width: 140px;
        margin: 0px 15px 10px 15px;
    }
    .fundo {
        height: 309%;
    }
}

@media(min-width:700px) and (max-width:799px) {
    .img {
        margin-left: 30%;
    }
    .login {
        margin-left: 20%;
    }
}

@media(min-width:800px) and (max-width:899px) {
    .img {
        margin-left: 80%;
        width: 180px;
        height: 180px;
    }
    .login {
        margin-left: 40%;
        width: 170px;
        height: 150px;
    }
    .form-control {
        margin: 0px 10px 10px 10px;
        width: 150px;
        height: 20px;
    }
    .cadastro {
        margin: 12% 0px 0px 40%;
        width: 170px;
        height: 200px;
    }
    .close {
        margin-left: 140px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .buttonLogin {
        margin: 0px 15px 10px 15px;
        width: 140px;
        height: 20px;
    }
    .buttonCadastro {
        margin: 0px 15px 10px 15px;
        width: 140px;
        height: 20px;
    }
    .traco {
        width: 140px;
        margin: 0px 15px 10px 15px;
    }
}

@media(min-width:900px) and (max-width:999px) {
    .img {
        margin-left: 40%;
    }
    .login {
        margin-left: 30%;
    }
    .cadastro {
        margin-left: 12.8%;
    }
}