:root {
    --light-gray: #EEEEEE;
}

.text-center {
    z-index: 2;
    position: absolute;
    margin-left: 600px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 30px;
}

.form-espaco {
    width: 100%;
    background-color: white;
}

.grid-form {
    margin-left: 50px;
    margin-top: 70px;
    width: 85%;
    z-index: 2;
    position: absolute;
}

.grid-form .form-contact {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    gap: 5px;
}

.form-contact {
    margin-left: 180px;
    width: 85%;
    z-index: -3;
}

.form-group {
    flex: 1 1 320px;
    margin: 5px;
}
.form-group textarea{
    margin-right: 0px;
    width: 100%;
}

.label-form {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.input-form-unidade,
.input-form-equipamento,
.input-form-servico-equipamento,
.input-form-equipamento-area{
    font-family: sans-serif;
    border: none;
    padding: 15px 20px;
    width: 90%;
    outline: none;
    margin-right: 0px;
}

.input-form-equipamento-area{
    background-color: white;
}
.input-form-servico-equipamento{
    background-color: #F0F2F5;
}

.input-form-unidade:focus,
.input-form-equipamento:focus,
.input-form-servico-equipamento:focus,
.input-form-equipamento-area:focus {
    box-shadow: 0 0 0.5em green;
}

.form-input-tombo {
    width: 320px;
}

.form-group:nth-child(6) {
    grid-column: span 2;
}

.group-form .input-form-unidade::placeholder {
    font-family: sans-serif;
    color: var(--light-gray);
}

.button-cadastro-unidade {
    width: 60px;
    height: 40px;
    background-color: green;
    padding: 0px;
    border-radius: 5px;
    border: none;
    margin-left: 90%;
}

.button-img {
    width: 50px;
    height: 30px;
    padding: 0px;
}

.button-cadastro-unidade:hover {
    background-color: rgb(0, 170, 0);
    transition: all 300ms ease-in-out;
}

@media(min-width:300px) and (max-width:699px) {
    .text-center {
        margin-left: 200px;
        margin-top: 25px;
        font-family: sans-serif;
        font-size: 18px;
    }
    .form-group {
        flex: 1 1 220px;
        margin: 10px;
    }
    .label-form {
        margin-bottom: 2px;
        font-size: 15px;
    }
    .form-group .input-form-unidade,
    .form-group textarea {
        padding: 7.5px 10px;
        width: 100%;
        margin-right: 0px;
    }
}

@media(min-width:700px) and (max-width:799px) {
    .text-center {
        margin-left: 200px;
        margin-top: 30px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .form-group {
        flex: 1 1 220px;
        margin: 10px;
    }
    .form-group .input-form-unidade,
    .form-group textarea {
        padding: 7.5px 10px;
        width: 100%;
        margin-right: 0px;
    }
}

@media(min-width:800px) and (max-width:899px) {
    .text-center {
        margin-left: 250px;
        margin-top: 30px;
        font-family: sans-serif;
        font-size: 20px;
    }
    .form-group {
        flex: 1 1 220px;
        margin: 10px;
    }
    .form-group .input-form-unidade,
    .form-group textarea {
        padding: 7.5px 10px;
        width: 100%;
        margin-right: 0px;
    }
}

@media(min-width:900px) and (max-width:999px) {}